<h1><%= @article.title %></h1>

<p><%= @article.text %></p>

<h3> Comments </h3>
<p><%= render @article.comments %></p>

<h3>Add a comment </h3>
<p><%=  render 'comments/form' %></p>

<p><%= link_to 'Edit',edit_article_path(@article) %> | 
<%= link_to 'Back', articles_path %> </p>