<%= form_for([@article, @article.pictures.build]) do |f| %>
	
	<p>
	   <%= f.label :title %><br>
	   <%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :url %><br>
		<%= f.text_area :url %>
	</p>

 	<p><%= f.submit  class: "btn btn-success" %></p>

<% end %>