<!DOCTYPE html>
<html>
  <head>
    <title>My Blog</title>

    <style>
      @import 'https://fonts.googleapis.com/css?family=Homemade+Apple|Quicksand';
    </style>

    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>

  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>